{% extends 'lakshmi_travels/admin_dashboard.html' %}


{% block main-content %}
<h1>Manage Daily Trips</h1>

<div class="add-new-item">
  <h3>Add a New trip</h3>
  <div class="add-button">
    <form method="POST" action="">
      {% csrf_token %}
      <input type="hidden" name="change_type" value="add_new">
      <button type="submit"><i class="fa fa-plus"></i></button>
    </form>
  </div>

</div>

<section>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">Trip ID</th>
        <th scope="col">Route</th>
        <th scope="col">Timing</th>
        <th scope="col">Price</th>
        <!-- <th scope="col">Edit</th> -->
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      {% for trip in all_daily_trips %}
      <tr>
        <th scope="row">{{trip.trip_id}}</th>
        <td>{{trip.route}}</td>
        <td>{{trip.trip_timings}}</td>
        <td>{{trip.trip_price}}</td>
        <!-- <td>
          <form id='event_edit_form{{trip.trip_id}}' method="POST" action="">
            {% csrf_token %}
            <input type="hidden" name="change_type" value="edit_trip">
            <input type="hidden" id="edit_trip{{trip.trip_id}}" name="edit_trip" value="{{trip.trip_id}}">

            <button onclick="editAlert('{{trip.trip_id}}','trip id: {{trip.trip_id}} {{trip.route}}')"
              class="edit_button" type="submit"><i class="fas fa-edit "></i></button>
          </form>
        </td> -->
        <td>
          <form id='event_delete_form{{trip.trip_id}}' method="POST" action="">
            {% csrf_token %}
            <input type="hidden" name="change_type" value="delete_trip">
            <input type="hidden" id="delete_trip{{trip.trip_id}}" name="delete_trip_id" value="{{trip.trip_id}}">
            <button onclick="deleteAlert('{{trip.trip_id}}','trip id: {{trip.trip_id}} {{trip.route}}')"
              class="delete_button" type="button"><i class="fas fa-trash "></i></button>

          </form>
        </td>

      </tr>
      {% endfor %}

    </tbody>
  </table>
</section>

<script>
  var editAlert = (eventId, eventName) => {
    if (window.confirm("Are you sure you want to \n Edit " + eventName)) {
      // console.log('helloo')
      document.getElementById('event_edit_form' + eventId).submit();
    }
  }

  var deleteAlert = (eventId, eventName) => {
    if (window.confirm("Are you sure you want to \n Delete " + eventName)) {
      // console.log('helloo')
      document.getElementById('event_delete_form' + eventId).submit();
    }
  }
</script>
{% endblock main-content %}