{% extends 'lakshmi_travels/index.html' %}
{% load static %}
{% block heading%}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'css/index.css' %}" type="text/css" media="screen">

    <link rel="stylesheet" href="{% static 'css/customer_dashboard.css' %}" type="text/css" media="screen">
    <title>Customer Dashboard</title>
</head>
{% endblock heading%}
{% block body%}
<body>

    {% block navigation %}
    {{block.super}}
    {% endblock navigation %}
    

    <div class="main-container">



        <div class="sidebar">
            <div class="heading">
                <h2>{{user.username}}</h2>
                <p>ID: {{user.id}}</p>
            </div>
            <div class="sidebar-body">
                <ul>
                    <li><a href="">Dashboard</a></li>
                    <li><a href="">Tours</a></li>
                    <li><a href="">Rental Cars</a></li>
                    <li><a href="">Daily Trips</a></li>
                    

                </ul>
            </div>
        </div>



        <div class="main-content">

            <div class="customer-info">
                <h1>Your Details</h1>

                <div class="info">
                <h2>Darshan Bajania</h2>
                <p>darshanbajania1999@gmail.com</p>
                <p>999aaaa999</p>
                <p>address</p>
                </div>


            </div>

        </div>

    </div>
        {% block footer%}
{{ block.super }}
    {% endblock footer%}
</body>
{% endblock body%}
{% block jscript%}
{% endblock jscript%}

</html>