{% extends 'lakshmi_travels/admin_dashboard.html' %}


{% block main-content %}
<h1>Manage Daily Trips</h1>

<div class="add-new-item">
    <h3>Add a New trip</h3>
    <div class="add-button">
        <form method="POST" action="">
            {% csrf_token %}
            <input type="hidden" name="change_type" value="add_new">
            <button type="submit" ><i class="fa fa-plus"></i></button>
        </form>
    </div>

</div>

<section>
    <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th scope="col">Trip ID</th>
            <th scope="col">Route</th>
            <th scope="col">Timing</th>
            <th scope="col">Price</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
          </tr>
        </thead>
        <tbody>
        {% for trip in all_daily_trips %}
          <tr>
            <th scope="row">{{trip.trip_id}}</th>
            <td>{{trip.route}}</td>
            <td>{{trip.trip_timings}}</td>
            <td>{{trip.trip_price}}</td>
            <td>
            <form method="POST" action="">
                    {% csrf_token %}
                <input type="hidden" name="change_type" value="edit_trip">
                <input type="hidden" id="edit_trip{{trip.trip_id}}" name="edit_trip" value="{{trip.trip_id}}" >
                <button class="edit_button" type="submit">Edit{{trip.trip_id}}</button>
            </form>
                </td>
            <td>
                <form method="POST" action="">
                    {% csrf_token %}
                <input type="hidden" name="change_type" value="delete_trip">
                <input  type="hidden" id="delete_trip{{trip.trip_id}}" name="delete_trip" value="{{trip.trip_id}}" >
                <button class="delete_button" type="submit">D{{trip.trip_id}}</button>

            </form>
            </td>

          </tr>
         {% endfor %}
      
        </tbody>
      </table>
</section>

{% endblock main-content %}
