{% extends 'lakshmi_travels/index.html' %}
{% load static %}
{% block heading%}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/index.css' %}" type="text/css" media="screen">

    <link rel="stylesheet" href="{% static 'css/daily_trip.css' %}" type="text/css" media="screen">


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Tour Packages</title>
</head>
{% endblock heading%}
{% block body%}

<body>
    {% block navigation %}
    {{block.super}}
    {% endblock navigation %}
    <section>
        <!-- main business section -->

        <div id="main-business-section" class="main-business-section">


            <div class="section-body">
                <div id="weeklytrip" class="trip-selection tabcontent">
                    <div class="sub-section">
                        <div class="back-image">
                            <!-- <img src="{% static 'images/home_page/taxi_graphic_mobile.png' %}" alt=""> -->
                        </div>
                        <div class="trip-section-heading-content">
                            <h1>Choose a Date for your Travel</h1>
                            <form method="POST">
                                {% csrf_token %}
                                <div class="search-box">
                                    <div class="search-bar">
                                        <div class="route">
                                            <select name="routes" id="routes">
                                                <option value="route1">Pune to Kerala</option>
                                                <option value="route2">Kerala to Pune</option>
                                            </select>
                                        </div>

                                        <input id="trip_date" type="date" name="daily_trip_date" value="" required />
                                    </div>
                                    <button type="submit" class="search-button">Search</button>
                                </div>
                            </form>

                        </div>
                        <div class="bgd">
                            <div class="trip-section-body">

                                <h2>Available Trips {{selected_day_trip|length}} </h2>
                                <div class="trip-timings-list">
                                    {% if selected_day_trip|length == 0 %}
                                    <h1>no trips for this date</h1>
                                    {% endif %}
                                    {% for trip in selected_day_trip %}
                                    <div class="trip-timings-card">
                                        <img src="{% static '/images/home_page/pune.jpg' %}" alt="" />
                                        <div class="compartment">
                                            {% if trip.route == 'route1' %}
                                            <h3>Pune &rarr; Kerela</h3>
                                            {% elif trip.route == 'route2' %}
                                            <h3>Kerela &rarr; Pune</h3>
                                            {% endif %}
                                            <p class="price">{{trip.trip_price}}/-</p>
                                        </div>
                                        <div class="compartment">
                                            <p>{{trip.trip_timings|date:"DATE_FORMAT"}}</p>
                                            <p>{{ trip.trip_timings|time:"P" }}</p>
                                        </div>
                                        <div class="book-button">
                                            <form method="POST" action="">
                                                {% csrf_token %}
                                                <input type="hidden" name="trip_id" value="{{trip.trip_id}}">
                                                <button type="submit">Book</button>

                                            </form>
                                        </div>
                                    </div>
                                    {% endfor %}



                                </div>

                            </div>
                        </div>
                    </div>


                </div>
            </div>

    </section>


    {% block footer%}
    {{ block.super }}
    {% endblock footer%}



</body>
{% endblock body%}
{% block jscript%}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
    crossorigin="anonymous"></script>
{% endblock jscript%}

</html>