{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/index.css' %}" type="text/css" media="screen">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Lakshmi Travels</title>
</head>

<body>
    <header>
        <div class="home_image">
            <a href=""><img src="{% static 'images/home_page/main_logo.jpeg' %}" alt="Lakshmi Travels Logo"></a>
        </div>

        <label for="nav-toggler"><i class="fa fa-navicon"></i></label>
        <input type="checkbox" id="nav-toggler" class="nav-toggler">

        <nav>
            <ul>
                <li> <a href="">Car Rental</a> </li>
                <li> <a href="">Weekly Trip</a> </li>
                <li> <a href="">Tour Packages</a> </li>
                <li> <a class="nav-cta" href="">Enquiry Now</a> </li>
            </ul>
        </nav>

    </header>


    <!-- hero section -->
    <section>
        <div class="hero-section">
            <div class="hero-section-img">
                <img src="{% static 'images/home_page/innova.png' %}" alt="">
            </div>

            <div class="text-content">
                <h1> Planning a Trip and Looking for a car rental service ?</h1>
                <h2><span>Lakshmi Travels</span> provides car and minibuses for rent <span>along with driver</span> at
                    affordable prices. We also provides <span>weekly trips</span> from Pune to Kerala. </h2>
                <div class="cta-button">
                    <a href="">Rent a Car Now</a>
                </div>
            </div>
        </div>


    </section>

    <!-- main business section -->

    <div class="main-business-section">
        <div class="tab-header">
            <button class="left-button active">Weekly Trip</button>
            <button class="right-button">Rent a Car</button>
        </div>

        <div class="section-body">
            <div class="cab-selection">
                <h1>Choose the ride that suites you</h1>

                <div class="cab-list">
                    <div class="cab-card">
                        <img src="{% static '/images/home_page/innova.png' %}" alt="">
                        <h2>Innova</h2>
                        <ul>
                            <li>Seating Capacity: <span>6</span> </li>
                            <li>Rate per Day :<span> 2200/-</span> </li>
                            <li>KM allowed / Day: <span>100km</span> </li>
                            <li>Additional KM Rate: <span>15</span> </li>
                        </ul>
                        <button>Book Now</button>


                    </div>

                    <div class="cab-card">
                        <img src="{% static '/images/home_page/swift_dzire_2.png' %}" alt="">
                        <h2>Innova</h2>
                        <ul>
                            <li>Seating Capacity: <span>6</span> </li>
                            <li>Rate per Day :<span> 2200/-</span> </li>
                            <li>KM allowed / Day: <span>100km</span> </li>
                            <li>Additional KM Rate: <span>15</span> </li>
                        </ul>
                        <button>Book Now</button>


                    </div>

                    <div class="cab-card">
                        <img src="{% static '/images/home_page/toyota_etios.png' %}" alt="">
                        <h2>Innova</h2>
                        <ul>
                            <li>Seating Capacity: <span>6</span> </li>
                            <li>Rate per Day :<span> 2200/-</span> </li>
                            <li>KM allowed / Day: <span>100km</span> </li>
                            <li>Additional KM Rate: <span>15</span> </li>
                        </ul>
                        <button>Book Now</button>


                    </div>

                    <div class="cab-card">
                        <img src="{% static '/images/home_page/mahindra_xylo.png' %}" alt="">
                        <h2>Innova</h2>
                        <ul>
                            <li>Seating Capacity: <span>6</span> </li>
                            <li>Rate per Day :<span> 2200/-</span> </li>
                            <li>KM allowed / Day: <span>100km</span> </li>
                            <li>Additional KM Rate: <span>15</span> </li>
                        </ul>
                        <button>Book Now</button>


                    </div>

                    <div class="cab-card">
                        <img src="{% static '/images/home_page/travelbus.png' %}" alt="">
                        <h2>Innova</h2>
                        <ul>
                            <li>Seating Capacity: <span>6</span> </li>
                            <li>Rate per Day :<span> 2200/-</span> </li>
                            <li>KM allowed / Day: <span>100km</span> </li>
                            <li>Additional KM Rate: <span>15</span> </li>
                        </ul>
                        <button>Book Now</button>


                    </div>

                    <div class="cab-card">
                        <img src="{% static '/images/home_page/tata_indica.png' %}" alt="">
                        <h2>Innova</h2>
                        <ul>
                            <li>Seating Capacity: <span>6</span> </li>
                            <li>Rate per Day :<span> 2200/-</span> </li>
                            <li>KM allowed / Day: <span>100km</span> </li>
                            <li>Additional KM Rate: <span>15</span> </li>
                        </ul>
                        <button>Book Now</button>


                    </div>
                </div>
            </div>
            <div class="trip-selection">
                <div class="sub-section">
                    <div class="back-image">
                        <!-- <img src="{% static 'images/home_page/taxi_graphic_mobile.png' %}" alt=""> -->
                    </div>
                    <div class="trip-section-heading-content">
                        <h1>Choose a Date for your Travel</h1>
                        <div class="search-box">
                            <div class="search-bar">
                                <div class="route">
                                    <p>Pune &#8644; Kerela</p>
                                </div>
                                <!-- <div class="seperator"><span>|</span></div> -->
                                <form action="">
                                    <!-- <label for="trip_date">Select a date</label> -->
                                    <input id="trip_date" type="date" value="">

                                </form>
                            </div>
                            <button class="search-button">
                                Search
                            </button>
                        </div>
                    </div>
                    <div class="bgd">
                        <div class="trip-section-body">

                            <h2>Available Timings</h2>
                            <div class="trip-timings-list">
                                <div class="trip-timings-card">
                                    <img src="{% static '/images/home_page/pune.jpg' %}" alt="">
                                    <div class="compartment">
                                        <h3>Pune &rarr; Kerela</h3>
                                        <p class="price">1000/-</p>
                                    </div>
                                    <div class="compartment">
                                        <p>03/07/2020</p>
                                        <p>8:am</p>
                                    </div>
                                    <div class="book-button">
                                        <button>Book</button>
                                    </div>

                                </div>
                                <div class="trip-timings-card">
                                    <img src="{% static '/images/home_page/pune.jpg' %}" alt="">
                                    <div class="compartment">
                                        <h3>Pune &rarr; Kerela</h3>
                                        <p class="price">1000/-</p>
                                    </div>
                                    <div class="compartment">
                                        <p>03/07/2020</p>
                                        <p>8:am</p>
                                    </div>
                                    <div class="book-button">
                                        <button>Book</button>
                                    </div>

                                </div>
                                <div class="trip-timings-card">
                                    <img src="{% static '/images/home_page/pune.jpg' %}" alt="">
                                    <div class="compartment">
                                        <h3>Pune &rarr; Kerela</h3>
                                        <p class="price">1000/-</p>
                                    </div>
                                    <div class="compartment">
                                        <p>03/07/2020</p>
                                        <p>8:am</p>
                                    </div>
                                    <div class="book-button">
                                        <button>Book</button>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>

    <!-- tour packages section -->

    <section>
        <div class="tour-packages-section">
            <h2>We also provide various Tour Packages</h2>
            <div class="tour-packages-list">
                <div class="tour-package-card">
                    <img src="{% static 'images/home_page/Ladakh_tour.png' %}" alt="">
                    <h2>Leh Ladakh</h2>
                    <p>A spectacular place with beuatiful scenary and at the same time a rugged terrain</p>
                    <p class="time">1 Week</p>

                    <div class="button-bar">
                        <a href="" class="details">Details</a>
                        <a href="" class="enquire_now">Enquire Now</a>
                    </div>
                </div>
                <div class="tour-package-card">
                    <img src="{% static 'images/home_page/kerela_tour.jpg' %}" alt="">
                    <h2>Leh Ladakh</h2>
                    <p>A spectacular place with beuatiful scenary and at the same time a rugged terrain</p>
                    <p class="time">1 Week</p>

                    <div class="button-bar">
                        <a href="" class="details">Details</a>
                        <a href="" class="enquire_now">Enquire Now</a>
                    </div>
                </div>
                <div class="tour-package-card">
                    <img src="{% static 'images/home_page/manali_tour.jpg' %}" alt="">
                    <h2>Leh Ladakh</h2>
                    <p>A spectacular place with beuatiful scenary and at the same time a rugged terrain</p>
                    <p class="time">1 Week</p>

                    <div class="button-bar">
                        <a href="" class="details">Details</a>
                        <a href="" class="enquire_now">Enquire Now</a>
                    </div>
                </div>
            </div>
            <a class="tour-packages-link" href="">See more></a>

        </div>
    </section>

    <!-- why choose us section -->

    <section>
        <div class="why-choose-us">
            <h1>Why Choose Us ?</h1>
            <div class="features">
                <div class="feature-item">
                    <img src="{% static 'images/home_page/dollar-symbol.png' %}" alt="">
                    <h3>Affordable Prices</h3>
                </div>
                <div class="feature-item">
                    <img src="{% static 'images/home_page/location-icon.png' %}" alt="">
                    <h3>Tours at multiple
                        locations</h3>
                </div>
                <div class="feature-item">
                    <img src="{% static 'images/home_page/secure.png' %}" alt="">
                    <h3>Trusted by Customers</h3>
                </div>
                <div class="feature-item">
                    <img src="{% static 'images/home_page/destination.png' %}" alt="">
                    <h3>Well Organised Tour
                        Plans</h3>
                </div>
                <div class="feature-item">
                    <img src="{% static 'images/home_page/minibus.png' %}" alt="">
                    <h3>Comfortable Ride throughout
                        the journey</h3>
                </div>
            </div>
        </div>
    </section>

    <!-- contact form -->
    <section>
        <div class="home-contact_us">
            <div class="left-section">
                <img src="{% static 'images/home_page/main_logo.jpeg' %}" alt="">
                <div class="text-content">
                    <p>We will arange all type of transportation from Pune at very affordable price</p>
                    <p> &#9743; 9972457774 / 7356213451</p>
                </div>
            </div>

            <div class="contact-us-form">
                <div class="inner-container">
                <h1>Get in Touch</h1>

                <form action="">
                    <div class="form-item">
                        <label for="">Name</label>
                        <input type="text" placeholder="Your Name">

                    </div>
                    <div class="form-item">
                        <label for="">Email Id</label>
                        <input type="text" placeholder="Your Email Id">

                    </div>
                    <div class="form-item">
                        <label for="">Message</label>
                        <textarea name="" id="" cols="20" rows="5" placeholder="message"></textarea>

                    </div>
                    <button type="submit">Send</button>
                </form>

                </div>

            </div>
        </div>

    </section>


    <footer>
        <div class="">
            <img src="{% static 'images/home_page/main_logo.jpeg' %}" alt="">
            <p> &#9743; 9972457774 / 7356213451</p>
        </div>

        <div>
            <h3>Site Map</h3>
            <ul>
                <li>Home</li>
                <li>About Us</li>
                <li>Enquiry</li>
                <li>Tour Packages</li>
                <li>Contact Us</li>


            </ul>
        </div>
        <div>
            <h3>Others</h3>
            <ul>
                <li>Popular Tours</li>
                <li>All Tours</li>
                <li>Featured</li>
                <li>Prices</li>
                <li>FAQ’s</li>


            </ul>
        </div>
    </footer>



</body>

</html>